<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
            <tbody>
                <tr>
                    <td><h2>Instituto Pablo A. Pizzurno</h2></td>
                    <td>(2006 / 2011) | Estudios Primarios</td>
                </tr>
                <tr>
                    <td><h2>Instituto Pablo A. Pizzurno</h2></td>
                    <td>(2012 / 2017) | Estudios Secundarios - Bachiller en economía y administración de empresas</td>
                </tr>
                <tr>
                    <td><h2>Universidad Nacional de Río Cuarto</h2></td>
                    <td>(2018 / En curso) | Estudios Universitarios - Analista en sistemas y Licenciatura en computación</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>