<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Nicolás Tapia</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy una persona decidida en lo que hace. Me considero bueno y muy capaz en la resolución de problemas. Con gran animo y dispuesto al trabajo en equipo. Siempre estoy en busqueda de nuevas oportunidades. Con gran ambicion de emprender y seguir aprendiendo. en este mundo del desarrollo.</p>
        </span>
    </div>
</div>