<div class="row">
    <h1>Hard & Softs Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'HTML'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="96"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'CSS'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="85"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'JS'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="50"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'Ingles'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="100"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'Comunicación'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="95"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo">
        <circle-progress
            [title]="'Trabajo en equipo'"
            [titleColor]="'lightgray'"
            [showSubtitle]="false"
            [showTitle]="true"
            [percent]="90"
            [radius]="80"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#e7e8ea'"
            [outerStrokeGradientStopColor]="'#53a9ff'"
            [animation]="true"
            [animationDuration]="1000"
            [animateTitle]="false"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
        ></circle-progress>
    </div>
</div>