<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
            <tbody>
                <tr>
                    <td><h2>Baiocco-Menardi (pasantia)</h2></td>
                    <td>(08/2017 / 10/2017) | Diagnostico y reparacion de dispositivos electronicos, armado de computadoras, instalacion de software y sistemas operativos</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>