<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
            <tbody>
                <tr>
                    <td><h2>Cronometro</h2></td>
                    <td>(HTML, CSS, JS) | Cronometro virtual que imita el funcionamiento de un cronometro real.</td>
                    <td><a href="https://codepen.io/nicolastapia18/pen/PoBqXEj" target="_blank"><p>Ver proyecto...</p></a></td>
                </tr>
                <tr>
                    <td><h2>Contador de palabras</h2></td>
                    <td>(HTML, CSS, JS) | Se ingresa un texto y se mostrara la cantidad de palabras y caracteres del mismo.</td>
                    <td><a href="https://codepen.io/nicolastapia18/pen/oNMXJoj" target="_blank"><p>Ver proyecto...</p></a></td>
                </tr>
                <tr>
                    <td><h2>Generador de contraseñas</h2></td>
                    <td>(HTML, CSS, JS) | Generador de contraseñas aleatorias en el cual es posible elegir el formato que se desea de la misma.</td>
                    <td><a href="https://codepen.io/nicolastapia18/pen/oNMXJoj" target="_blank"><p>Ver proyecto...</p></a></td>
                </tr>
                <tr>
                    <td><h2>Tetris</h2></td>
                    <td>(HTML, CSS, JS) | Imitación del icónico juego de los 80s</td>
                    <td><a href="https://codepen.io/nicolastapia18/details/PoBqXQj" target="_blank"><p>Ver proyecto...</p></a></td>
                </tr>
                <tr>
                    <td><h2>Portfolio</h2></td>
                    <td>(HTML, CSS, TS, Angular, Bootstrap, MySQL, SpringBoot, Java, Firebase, Koyeb, Clever Cloud) | Presentación de mi persona donde se muestran mi experiencia, estudios, proyectos, entre otros.</td>
                    <td><a href=""><p>Ver proyecto...</p></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>